html {
	font-family: "Helvetica", Arial, sans-serif;
}

body {
	background: url("../img/img.jpg") no-repeat;
	background-size: cover;
}

.bouton_login {
	background-color: #5F914F;
	font-size: 16px;
	text-align: center;
	padding: 15px 15px 15px 15px;
    border-radius: 12px;
	position: absolute;
	left: 50%;
	bottom: 2%;
	transform: translate(-50%, -50%);
}

a {
	color: white;
	text-decoration: none;
}
